name: Go

on: workflow_dispatch

jobs:
  run-script-file-job:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4
      - name: Execute script
        run: chmod +x build
      - name: Start building kernel
        run: ./build

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.run_id }}
          release_name: Release ${{ github.run_id }}
          draft: false
          prerelease: false

      - name: Upload Release Asset
        uses: actions/upload-release-asset@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # The upload_url comes from the previous create_release step
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./boot.img-kernel
          asset_name: boot.img-kernel
