name: Sedot

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  download-and-commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Download the file
      run: |
        git lfs install
        git lfs push --all origin
        git lfs track "*.tar.gz"
        git add .gitattributes
        curl -O "https://android.googlesource.com/platform/prebuilts/gcc/linux-x86/arm/arm-linux-androideabi-4.9/+archive/refs/heads/android12L-release.tar.gz"

    - name: Configure Git
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "actions@github.com"

    - name: Add and Commit file
      run: |
        git add android12L-release.tar.gz
        git commit -m "Add android12L-release.tar.gz"
        git push
