name: Sedot

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  download-and-commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Download the file
      run: |
        git lfs install
        git lfs track "*.tar.gz"
        git add .gitattributes
        curl -O "https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+archive/refs/heads/master-kernel-build-2021/clang-r383902.tar.gz"

    - name: Configure Git
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "actions@github.com"

    - name: Add and Commit file
      run: |
        git add clang-r383902.tar.gz
        git commit -m "Add clang-r383902.tar.gz"
        git push origin master
